@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
/* for all navigation bar */

:root {
  --main-bg-color: #2a2260;
}

* {
  padding: 0;
  margin: 0;
}

header {
  background: var(--main-bg-color);
  font-family: "Lato", sans-serif;
  position: fixed;
  top: 0px;
  height: 62px;
  width: 1343px;
  /* width: 1292px; */
  /* for position fixed copy value of main tag and header tag */
}

nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding: 0 25px;
  width: 160px;
  height: 52px;
}

nav ul {
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0 23px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  font-weight: bolder;
}

.searchdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchdiv input {
  width: 459px;
  height: 35px;
  border-radius: 18px;
  padding: 0 12px;
  margin-right: -22px;
}

.searchimg {
  height: 17px;
  width: 26px;
  position: relative;
  left: -22px;
  top: 2px;
}
.container_login {
  width: 179px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 21px;
}
.log {
  background-color: white;
  height: 36px;
  width: 81px;
  border-radius: 13px;
  font-weight: bold;
  margin-left: 12px;
  font-family: "Lato", sans-serif;
}
.logout {
  background-color: white;
  height: 36px;
  width: 81px;
  border-radius: 13px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.logout:hover {
  box-shadow: 0px 1px 4px 2px red;
  border: 6px yellow solid;
  color: blue;
}
.log:hover {
  box-shadow: 0px 1px 4px 2px red;
  border: 6px yellow solid;
  color: blue;
}
.imgsize:hover {
  box-shadow: 3px 4px 7px 2px #679792;
}
.imgsize3:hover {
  box-shadow: 3px 4px 7px 2px #679792;
}

.backward {
  height: 29px;
  background: var(--main-bg-color);
  margin-top: 64px;
  color: white;
  display: flex;
  align-items: center;
}
.arrow {
  height: 25px;
  width: 42px;
  margin-left: 10px;
}
main {
  margin-top: 58px;
}
/* main body size */

.containerbody {
  height: 1288px;
  /* min-height: calc(100vh - 58px - 12vh); */
}

/* style for iframe  */
.productcontainer {
  height: 800px;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 10px;
}

.image-container {
  height: 788px;
  width: 632px;
  display: flex;
  flex-direction: column;
}
iframe {
  height: 788px;
  width: 637px;
}

/* style for detail of product start from here */
#textd {
  font-weight: bold;
  font-size: 24px;
}
.titleofproduct {
  line-height: 31px;
  width: 569px;
  margin-left: 5px;
}

.price {
  font-size: 12px;
  display: flex;
}

.price p {
  padding: 2px;
  margin-left: 10px;
}
.off {
  color: rgb(9, 92, 15);
  font-weight: bold;
}
.striket {
  color: red;
}

.choosesize {
  display: flex;
  padding: 7px;
  line-height: 21px;
}
.choosebtn:hover {
  border: 4px blue solid;
}

.choosesize button {
  border: 1px rgba(7, 7, 7, 0.851) solid;
  border-radius: 68px;
  height: 22px;
  width: 48px;
  margin-right: 52px;
  display: inline-grid;
  justify-content: center;
  background-color: white;
}

.quantity {
  display: inline-flex;
  flex-direction: row;
  margin-right: 10px;
}

#quan {
  margin-right: 184px;
}
#quantityn {
  width: 191px;
  text-align: center;
  background-color: white;
  color: green;
}

.material {
  display: flex;
  flex-direction: column;
}

.fontpre {
  font-family: "Lato", sans-serif;
}

#addbutton {
  height: 48px;
  width: 286px;
  background-color: rgb(255, 168, 6);
  color: white;
  font-weight: bold;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}
.btun {
  width: 613px;
}

#buybutton {
  height: 48px;
  width: 286px;
  margin-left: 33px;
  background-color: rgb(225, 49, 5);
  color: white;
  font-weight: bold;
  font-family: Lato, sans-serif;
}
/* for one line product design */

/* trending on shopping mart */
.titletext {
  height: 27px;
  margin-top: 17px;
  margin-bottom: 15px;
}

div h3 {
  font-size: 21px;
  color: rgba(11, 108, 18, 0.739);
  margin-left: 28px;
}

.container-product1 {
  display: flex;
  height: 344px;
  justify-content: center;
}

.product {
  height: 344px;
  width: 251px;
  display: grid;
  justify-content: center;
}

.textbelow {
  font-size: 16px;
  text-align: center;
  margin-top: 11px;
  line-height: 20px;
}
div h4 {
  font-size: 20px;
  color: #4c3093;
}
.Rs {
  font-size: 17px;
}
.img-container {
  height: 276px;
  width: 201px;
  display: flex;
  justify-content: center;
}

.imgradius3 {
  border: 4px rgba(204, 191, 191, 0.603) solid;
  border-radius: 102px 0px 102px 0px;
}
.imgsize3 {
  height: 276px;
  width: 199px;
}

/* for footer tag  */

.footer1 {
  height: 199px;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
}
.footer_container {
  height: 205px;
  width: 864px;
  display: flex;
  margin-top: 12px;
}
.f_text {
  height: 201px;
  width: 233px;
  line-height: 41px;
  font-family: "Lato", sans-serif;
}

.all_imgcontainer {
  height: 200px;
  width: 314px;
  line-height: 76px;
}
.fimg_container {
  display: flex;
}
.f_imgsize {
  height: 26px;
  width: 30px;
  border-radius: 37px;
}
.fimg_text {
  display: flex;
  height: 20px;
  align-items: center;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
}
#height {
  margin-top: 34px;
}
.link_f {
  color: white;
}
.l_footer {
  background-color: #3a60aa;
  text-align: center;
  color: #ffeded;
  font-family: "Lato", sans-serif;
}
/* ! after login ok final hai div.show aur container login */
div .shows {
  color: white;
  margin-right: -8px;
  background-color: rgb(72 159 175);
  height: 33px;
  width: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.container_logintt {
  width: 202px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 2px;
  background-color: red;
}

/* for responsive */

@media screen and (max-width: 576px) {
  /* navigation bar */
  header {
    width: 400px;
    height: 81px;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .logo img {
    width: 97px;
    height: 40px;
  }
  .searchdiv {
    position: relative;
    bottom: 78px;
  }
  .searchdiv input {
    font-size: 11px;
    width: 224px;
    height: 27px;
    margin-right: -149px;
  }
  .searchimg {
    width: 20px;
    left: 117px;
  }
  nav ul {
    text-align: center;
    height: 41px;
    width: 240px;
  }

  nav ul li {
    padding: 0px 9px;
    width: 66px;
  }
  nav ul li a {
    font-size: 12px;
  }
  .container_login {
    width: 156px;
    height: 39px;
    position: relative;
    left: 242px;
    bottom: 72px;
  }
  .log {
    border-radius: 8px;
    height: 23px;
    width: 68px;
    margin-left: 7px;
  }
  .logout {
    border-radius: 8px;
    height: 22px;
    width: 69px;
  }

  /* main containt */
  main {
    width: 402px;
    height: 2823px;
  }

  /* product title like trending on shooping mart*/
  .titletext {
    height: 19px;
    width: 396px;
    margin-top: 2px;
    margin-bottom: 5px;
  }
  div h3 {
    font-size: 15px;
    color: rgba(11, 108, 18, 0.739);
    margin-left: 6px;
    width: 389px;
    height: 16px;
  }

  /* all product line  */
  .container-product1 {
    display: flex;
    flex-wrap: wrap;
    height: 852px;
  }
  .product {
    width: 195px;
    height: 273px;
  }
  .product3 {
    width: 195px;
    height: 273px;
  }
  .img-container {
    height: 196px;
    width: 155px;
    display: flex;
    justify-content: center;
  }
  .imgsize3 {
    height: 196px;
    width: 157px;
  }
  /* all product text below of product image */
  div h4 {
    font-size: 15px;
  }
  .textbelow {
    line-height: 15px;
  }
  .Rs {
    font-size: 12px;
  }
  p {
    font-size: 13px;
  }
  /* for footer  */
  .footer1 {
    width: 400px;
    justify-content: flex-start;
  }
  .footer_container {
    width: 400px;
  }
  .f_text {
    width: 400px;
  }
  .fimg_text {
    font-size: 10px;
    margin-left: 6px;
  }
  .l_footer {
    width: 400px;
  }

  .containerbody {
    background-color: red;
    margin-top: 85px;
  }
  .backward {
    background-color: yellow;
    width: 400px;
    height: 18px;
  }
  .arrow {
    background-color: pink;
    height: 16px;
    width: 34px;
  }
  .productcontainer {
    flex-direction: column;
    margin-left: 1px;
    margin-top: 2px;
  }
  .image-container {
    background-color: rgb(17, 255, 17);
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  iframe {
    background-color: gray;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  /*
  .container {
    background-color: blue;
    height: 461px;
    width: 374px;
  }
  .row1 {
    background-color: pink;
    height: 471px;
    width: 186px;
  }
  .img-container {
    background-color: orangered;
    height: 228px;
    width: 183px;
  }
  #imagsize21 {
    background-color: skyblue;
  }
  iframe img {
    background-color: yellow;
    height: 253px;
    width: 212px;
  } */
}
